#footer {
    background-color: var(--element-bg-color);
    width: 100%;
    height: 80px;
    bottom: 0;
    position: fixed;
}

#footer-text {
    --footer-text-color: rgb(68, 68, 68);
    color: var(--footer-text-color);
}

#link-to-github {
    color: var(--github-link);
}