/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--element-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}