#gpulist {
    padding-top: 10px;
    font-size: 0.9rem;
}

#labels-row {
    margin-top: 5px;
    color: var(--font-color);
    font-size: 0.9rem;
    font-weight: bold;
}

.gpu-hr {
    --hr-color: rgb(58, 58, 58);
    background-color: var(--hr-color);
}

.gpu-col {
    color: rgb(116, 116, 116);
}

@media only screen and (max-width: 455px) {
    #hash-watt-span::before {
        content: "ㅤㅤ";
    }
    .gpu-hashrate-watt {
        text-align: center;
    }
}

.gpu-name {
    font-weight: bold;
}

.label-div:hover {
    cursor: pointer;
}

.label-div:active {
    cursor: pointer;
}

@media only screen and (min-width: 455px) {
    .label-div:hover {
        color: var(--color-lighter);
    }
    .label-div:active {
        color: var(--font-color);
    }
}

@media only screen and (max-width: 455px) {
    .label-div:active {
        color: var(--color-lighter);
    }
}

@media only screen and (max-width: 455px) {
    .coin-price::before {
        content: "ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ";
    }
}